<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Recipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes/new">Add A Recipe</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        {%if not 'user_id' in session:%}
                        Not logged in
                        {%endif%}
                        {%if 'user_id' in session:%}
                        Logged in as: {{session['user_name']}}
                        {%endif%}
                    </a>
                </li>
                <form class="form-inline my-2 my-lg-0" action="/log_out">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
                </form>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <h1>Welcome to the website, {{session['user_name']}}!</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}

            <p>Here are all the recipes you have submitted:</p>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Recipe Name</th>
                        <th scope="col">Under 30 minutes?</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for recipe in all_recipes%}
                    <tr>
                        <th scope="row">{{recipe.name}}</th>
                        <td>{% if recipe.under_30 == 1: %}
                            Yes
                            {% endif %}
                            {% if recipe.under_30 == 0: %}
                            No
                            {% endif %}
                        </td>
                        <td>
                            <a href="/recipes/{{recipe.id}}">View Instructions</a> |
                            <a href="/recipes/edit/{{recipe.id}}">Edit Recipe</a> |
                            <a href="/recipes/delete/{{recipe.id}}">Delete Recipe</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>