<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav></nav>
    <main>
        <div class="container">
            <h1>All Users</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in all_users %}
                    <tr>
                        <th scope="row">{{user.id}}</th>
                        <td>Full Name: {{user.first_name}} {{user.last_name}}</td>
                        <td>Email: {{user.email}}</td>
                        <td>Created At: {{user.created_at}}</td>
                        <td>
                            <a href="/users/{{user.id}}">Show</a>
                            <a href="/users/{{user.id}}/edit">Edit</a>
                            <a href="/users/{{user.id}}/delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/users/new">Add a new user</a>
        </div>
    </main>
</body>

</html>