<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game!</title>
</head>
<body>
    <nav></nav>
    <main>
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100.</p>
        <p>Take a guess!</p>

        <!-- form to accept user's guesses -->
        <form action="/guess" method='POST'>
            <input type="text" name="guess">
            <button type="submit">Make your guess!</button>
        </form>

        <!-- display the results of the guess -->
        <p>{{session['result']}}</p>

        <!-- if the game is over, add a play again button -->
        {% if session['play_again'] == True %}
            <form action="/reset">
                <button type="submit">Play again!</button>
            </form>
        {% endif %}
    </main>
</body>
</html>